body{
    padding: 0px;
    margin: 0px;
    height: 100vh;
    overflow-x: hidden;
}
.menu {
    background-color: #F3D09C !important;
    color: #802D3D;
}

footer{
    background-color: #F3D09C !important;
}

nav{
    background-color: #F3D09C !important;
}

li {
    color: #802D3D !important;
}
.red-text{
    color: #802D3D !important;
}

a {
    text-decoration: none !important ;
}

i {
    color: #802D3D !important;
}

.navbar-nav .nav-link.active {
    color: #802D3D !important;
}

hr {
    height: 30%;
    color: #802D3D;
}

input {
    border-radius: 20px !important;
}

.background-beige {
    background-color:#FAF3D799 !important;
}

.background-red {
    background-color:#802D3D !important;
}


.contact-button {
    background-color: #802D3D;
    border-radius: 20px !important;
    color:white;
    font-weight: bold;
    width: 20%;
    border:none; 
    align-self: center;
}

.text-about-us {
    color:white
}